{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="{{ book.cover_pic.url }}" class="card-img-top" alt="{{ book.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">{{ book.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="middle">Comment Add</h3>
        <form class="middle-form" action="{% url 'books:book_comment' id=book.id %}" method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit">Send</button>
        </form>

        {% if book.coments.exists %}
            <h4 style="margin-top: 20px;" class="middle">Comments</h4>
            <hr>
            {% for comment in book.coments.all %}
                <div class="row mb-3 middle">
                    <div class="col-1 me-3">
                        <img style="width: 50px; border-radius: 50%;" class="small-profile-pic" src="{{ comment.user.profile_pic.url }}">
                    </div>
                    <div class="col-7">
                        <b>{{ comment.user.username }}</b> rated it {{ comment.star_given }} stars <span class="fw-lighter">{{ comment.created_at }}</span>
                        <p class="mt-2 font-monospace">{{ comment.comment }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}
